[submodule "turtle_ws/src/turtlebot_core"]
	path = turtle_ws/src/turtlebot_core
	url = https://github.com/chucholoport/turtlebot_core.git
	branch = develop
[submodule "turtle_ws/src/uno_q_bridge"]
	path = turtle_ws/src/uno_q_bridge
	url = https://github.com/chucholoport/uno_q_bridge.git
	branch = develop
